* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    overflow-x: hidden
}
a{
    text-decoration: none;
    color:black;
}
/* --- ESTILIZAÇÃO DO HEADER --- */

.header_menu {
    display: none;
}

.header {
    position: fixed;
    display: grid;
    grid-template-columns: 0.2fr 0.6fr 1fr 1fr 1fr;
    grid-template-rows: 60px;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 60px;
    color: #000;
    background-color: #ff904e;
    padding: 0 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label[for="bt_menu"] {
    padding: 0px;
    background-color: #ff914d;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 40px;
    cursor: pointer;
    width: 40px;
    height: 50px;
}

.header_menu {
    font-size: 20px;
    width: 100%;
    text-align: center;
    height: 100vh;
    justify-content: center;
    margin-left: -100%;
    transition: all 0.4s;
}

.material-icons {
    padding: 0 5px;
}

.logo-header {
    height: 100%;
    border-radius: 50%;
}

.Pagina-inicial-header {
    display: flex;
    align-items: center;
}

.Perguntas {
    display: flex;
    align-items: center;
    justify-self: start;
}

.Login-header {
    display: flex;
    align-items: center;
    justify-self: flex-end;
    margin-left: 13px;
}

.Formulario-adimicional-header {
    display: flex;
    align-items: flex-end;
    justify-self: center;
}

.Formulario-adimicional-header button {
    background-color: #ffbd5a;
    border: none;
    height: 40px;
    line-height: 30px;
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-radius: 30px;
}

.Formulario-adimicional-header button:hover {
    background-color: #f55b00;
    opacity: 0.8;
}

.Login-header:hover {
    opacity: 0.5;
}

.Perguntas:hover {
    opacity: 0.5;
}

.Pagina-inicial-header:hover {
    opacity: 0.5;
}

#bt_menu {
    display: none;
}

label[for="bt_menu"] {
    display: none;
}

/* MAIN */

main section {
    display: flex;
    align-items: center;
    width: 100vw;
    height: auto;
    background-color: white;
    background-size: auto;
}

#primeira-section {
    font-size: 50px;
    color: #ff904e;
}

#titulo-primeira-section {
    margin-top: 20%;
    margin-left: 10%;
}

#segunda-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    background-color: #ff904e;
}

#segunda-section .titulo {
    align-self: flex-start;
    padding: 5%;
}

.descricao-perguntas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 106%;
    margin-left: -5%;
    border-radius: 10px;
    padding: 23px;
}

.descricao-perguntas h2 {
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 3%;
}

.descricao-perguntas p {
    margin-left: 2%;
    line-height: 2;
}

.descricao-perguntas ul li {
    font-size: 15px;
    list-style:none;
    padding: 7px;
    margin-left: 3%;
}

.texto-e-subtexto {
    width: 80%;
    height: 80%;
}

#terceira-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
    background-color: #ff904e;
    padding-top: 5%;
}

#terceira-section .texto-e-subtexto-terceira {
    width: 80vw;
    height: 20%;
}

#terceira-section .descricao-perguntas {
    line-height: 2;
}

#quarta-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
    background-color: #ff904e;
    padding-top: 5%;
}
#quarta-section .texto-e-subtexto-terceira {
    width: 80vw;
    height: 20%;
}

#quarta-section .descricao-perguntas {
    line-height: 2;
}

#quinta-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ff904e;
    padding-top: 5%;
}
#quinta-section .texto-e-subtexto-terceira {
    width: 80vw;
    height: 20%;
}

#quinta-section .descricao-perguntas {
    line-height: 2;
}
#sexta-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ff904e;
    padding-top: 5%;
    padding-bottom: 5%;
}
#sexta-section .texto-e-subtexto-terceira {
    width: 80vw;
    height: 20%;
}

#sexta-section .descricao-perguntas {
    line-height: 2;
}

/* ESTILIZAÇÃO DO FOOTER */

footer {
    display: flex;
    font-family: Verdana;
    background-color: #111111;
    color: white;
    width: auto;
    flex-direction: column;
    align-items: center;
}

.footer-container {
    padding-top: 4vw;
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    height: auto;
    justify-content: space-evenly;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    width: 20vw;
}

.footer-titulo {
    margin-bottom: 3vh;
}

.footer-menu li {
    margin-bottom: 1vh;
    list-style-type: none;
}

.footer-app img {
    width: 45%;
    height: auto;
}

.footer-final {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    font-size: 0.9rem;
    justify-content: space-evenly;
    margin: 5vh 0;
}

hr {
    border: 1px solid #242424;
}

.footer-social img {
    height: auto;
    width: 3vh;
    margin-right: 1vh;
}

footer li:hover {
    color: #ff914d;
}

.footer-f4, .footer-produtos, .footer-explorer, .footer-mais, .footer-transparencia, .footer-ouvidoria, .footer-fale, .footer-app {
    min-width: 200px;
    font-size: 0.9rem;
    margin-bottom: 1.5%;
}
@media screen and (min-width: 1px) and (max-width: 480px) {
    /* responsividade header */
    label[for="bt_menu"] {
        display: block;
    }
    body {
        background-color: #ff914d;
        width: 100%;
        overflow-x: hidden;
    }
    #bt_menu:checked~.header_menu {
        margin-left: 0%;
        display: block;
    }
    .header_menu ul {
        display: block;
        flex-direction: column;
        justify-content: space-evenly;
        height: 80%;
    }
    .header_menu ul li {
        background-color: #ff914d;
        height: 28%;
    }
    .Perguntas {
        justify-content: center
    }
    .Login-header {
        justify-content: center;
        margin: 0;
    }
    .Pagina-inicial-header {
        justify-content: center
    }
    .formulario-responsivo {
        display: flex;
        justify-content: center;
        align-items: center
    }
    .header {
        display: none;
    }
    .Login-header:hover {
        opacity: 1;
    }
    
    .Perguntas:hover {
        opacity: 1;
    }
    
    .Pagina-inicial-header:hover {
        opacity: 1;
    }
    /* responsividade-main */
    .descricao-perguntas{
        width: 100%;
        padding: 18px;
    }
    /* responsividade footer */
    .footer-container {
        justify-content: start;
        margin-left: 15px;
    }
    .footer-f4, .footer-produtos, .footer-explorer, .footer-mais, .footer-transparencia, .footer-ouvidoria, .footer-fale, .footer-app {

        font-size: 0.8rem;
        margin-bottom: 7%;
    }
    .footer-final .info-final {
        display: none;
    }
    .footer-final {
        justify-content: start;
        
    }
    .footer-app img {
        min-width: 80px;
    }
}
